// colors
$menu: #017061;
$data-box: #dddddd;
$bg: #ebebeb;
$green: #3ca05d;
$black: #444444;
$black-transparent: rgb(68 68 68 / 18%);
$white-transparent: rgba(221, 221, 221, 0.547);
$green-transparent: rgba(3, 65, 23, 0.459);
$white: #ffffff;
$disabled: rgb(150, 150, 150);
$gold: rgb(170, 167, 0);
$title: rgb(26, 116, 79);

$label-fg: rgb(23, 99, 41);
$label-bg: rgb(127, 221, 158);
$error-fg: rgb(122, 3, 3);
$error-bg: rgb(249, 93, 93);
$delete-bg: rgb(168, 0, 0);
$info-fg: rgb(131, 85, 0);
$info-bg: rgb(255, 210, 128);
$delete: rgb(252, 48, 48);
